
<div class="tweetfilter">
	<ul class="lang-filter">
	<li><p>Filter tweets:</li>
	<li>
	<div class="btn-group" id="languages">
	<%= link_to 'Ruby', tweets_path(tag: "Ruby"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'JavaScript', tweets_path(tag: "JavaScript"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'Python', tweets_path(tag: "Python"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'HTML', tweets_path(tag: "HTML"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'CSS', tweets_path(tag: "CSS"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'PHP', tweets_path(tag: "PHP"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'SQL', tweets_path(tag: "SQL"), { class: "btn", :'data-remote' => true } %>
	<%= link_to 'jQuery', tweets_path(tag: "jQuery"), { class: "btn", :'data-remote' => true } %>
	</div></li>
	</ul>
</div></p>
