<div class="tweetfilter">
	<p>Filter by language:
	<%= link_to 'Ruby', ruby_path %> |
	<%= link_to 'JavaScript', javas_path %> |
	<%= link_to 'Python', python_path %> |
	<%= link_to 'HTML', html_path %> |
	<%= link_to 'CSS', css_path %> 
</p></div>