<%= render 'tweetfilter' %>
<h3>Showing all HackerTweets</h3>
	<% Twitter.search("#ruby OR #rails OR #javascript OR #python OR #html OR #css OR #php OR #sql", lang: "en", count:30).results.each do |tweet| %>
	<div class="tweet">
		<% displayname = "@" + tweet.user.screen_name %>
		<% tweetlink = "https://twitter.com/" + tweet.user.screen_name + "/status/" + tweet.id.to_s %>
		<% userlink = "https://twitter.com/" + tweet.user.screen_name %>
		<p><%= image_tag(tweet.profile_image_url) %><%= link_to(tweet.text, tweetlink, :target => "_blank") %></p>
		<p class="ago"><%= time_ago_in_words(tweet.created_at) %> ago.</p> 
		<div class="from">&mdash; <%= link_to(displayname, userlink, :target => "_blank") %></div>
		</div>
		<br><br>
	<% end %>
	