<% provide(:title, 'JavaScript') %>
<% provide(:h3, 'JavaScript') %>
<%= render 'tweetfilter' %>
<h3><%= h3(yield(:h3))%></h3>
	<% Twitter.search("#javascript", lang: "en", count:30).results.each do |tweet| %>
	<div class="tweet">
		<% displayname = "@" + tweet.user.screen_name %>
		<% userlink = "https://twitter.com/" + tweet.user.screen_name %>
		<% tweetlink = "https://twitter.com/" + tweet.user.screen_name + "/status/" + tweet.id.to_s %>
		<p><%= image_tag(tweet.profile_image_url) %><%= link_to(tweet.text, tweetlink) %></p>
		<p class="ago"><%= time_ago_in_words(tweet.created_at) %> ago.</p> 
		<div class="from">&mdash; <%= link_to(displayname, userlink, :target => "_blank") %></div>
		</div>
		<br><br>
	<% end %>
	
	