<%= render 'tweetfilter' %>
<h3>Tweets About Python</h3>
	<%= Twitter.search("#python", lang: "en").results.each do |tweet| %>
	<div class="tweet">
		<% tweetlink = "https://twitter.com/" + tweet.user.screen_name + "/status/" + tweet.id.to_s %>
		<p><%= image_tag(tweet.profile_image_url) %><%= link_to(tweet.text, tweetlink) %></p>
		<p class="ago"><%= time_ago_in_words(tweet.created_at) %> ago.</p> 
		<div class="from">&mdash; @<%= tweet.user.screen_name %></div>
		</div>
		<br><br>
	<% end %>